# SPDX-FileCopyrightText: 2026 European Centre for Medium-Range Weather Forecasts (ECMWF)
#
# SPDX-License-Identifier: Apache-2.0

__pycache__/
.*_cache/
ci_infrastructure.egg-info
build/
.reuse

uv.lock
